<div>
    <div>Upload directory: {{upload_dir}}</div>
    <br />
    <div id="upload-inputs">
        <div id="upload-drop-zone">
            Drop files and folders...
        </div>
        <br />
        <label for="file-input" class="btn">
            Select Files
        </label>
        <input id="file-input" type="file" multiple />

        <label for="folder-input" class="btn">
            Select Folder
        </label>
        <input id="folder-input" type="file" multiple directory webkitdirectory="true" />
    </div>
    <div id="status"></div>
    <br />
    <div id="upload-log"> </div>
</div>