#upload-drop-zone {
  width: 70%;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  background-color: rgba(210, 210, 210, 0.35);
  border-style: dashed;
  border-color: darkgrey;
  border-radius: 10px;
}

#upload-log {
  width: 96%;
  height: 200px;
  padding: 2%;
  background-color: rgba(210, 210, 210, 0.35);
  overflow-y: scroll;
}

#upload-inputs {
  text-align: center;
}

input[type=file] {
  display: none;
}

#upload-inputs {
    text-align: center;
}

#item {
  heigth: 50px;
  font-size: 80%;
}

.modal-body {
  max-height: 600px;
}